section .top a{
    font-size:0.9rem;
    color:#333333;
    font-weight:bold;
}
section .top a:hover{
    color:#666666;
    text-decoration:none;
}
.left h3{
    border-bottom:5px solid #333333;
    padding-bottom:5%;
    margin-bottom:10%;
}
.left .price,#colorGroup,.size,.length,.strapsSleeves,.silhouette,.occasion{
    border-bottom: 1px solid #333333;
    padding-bottom: 5%;
    margin-bottom: 10%;
}
#colorGroup .colorName{
    width:30px;
    height:30px;
    margin-right:6%;
    margin-bottom:3%;
    border:2px solid gray;
    float:left;
}
#colorGroup .colorName:hover{
    border:2px solid black;
}
#colorGroup:after{
    display:block;
    clear:both;
    content:"";
}
#colorGroup .ivory{
    background:ivory;
}
#colorGroup .blue{
    background:blue;
}
#colorGroup .pink{
    background:pink;
}
#colorGroup .white{
    background:white;
}
#colorGroup .black{
    background:black;
}
#colorGroup .purple{
    background:purple;
}
#colorGroup .green{
    background:green;
}
#colorGroup .grey{
    background:grey;
}
#colorGroup .red{
    background:red;
}
#colorGroup .brown{
    background:brown;
}
#colorGroup .orange{
    background:orange;
}
#colorGroup .yellow{
    background:yellow;
}
.sizeName:after{
    display:block;
    clear:both;
    content:"";
}
.sizeName .sizeItem div{
    float:left;
    width:40px;
    height:40px;
    margin:3% 5% 3% 0;
    text-align:center;
    padding-top:3%;
    background:#f8f6f0;
    font-size:8%;
    color:#333333;
    border:2px solid gray;
}
.sizeName .sizeItem div:hover{
    background:#74736d;
    color:white;
    text-decoration:none;
    border:2px solid black;
}
.left .img a img{
    margin-bottom:10%;
}
.myInput{
    width:15px;
    height:15px;
}
.myInputA{
    color:#74736d;
    font-size:0.8rem;
}
.pagesFont{
    color:#74736d;
    font-size:1rem;
}
.myTitle{
    display:inline-block;
    text-align:center;
    margin-top:5%;
    color:#333333;
    font-size:0.8rem;
    font-weight:bold;
}
.price{
    color:#AA170D !important;
    width:100%;
    margin-top:3% !important;
}
.myTitle:hover{
    text-decoration:none;
    color:#6D6C66;
}
.more{
    font-size:0.9rem;
    color:#74736d;
    text-decoration:underline;
}
.left ul li{
    margin-left:5%;
    margin-bottom:3%;
    list-style-type:disc;
}
section:after{
    display:block;
    content:"";
    clear:both;
}
section div.right h1{
    margin-top:-3%;
}
section .right .nameBlock{
    margin-bottom:2%;
}
section .right .nameBlock div{
    float:left;
    border-right:1px solid gray;
    padding-right:2%;
    margin-right:2%;
}
section div.right div.nameBlock div.myInputA{
    margin-top:0.3%;
}
section .right .nameBlock:after{
    display:block;
    content:"";
    clear:both;
}
section div.right .nameBlock p{
    float:right;
}
section div.right .displays .product .choices{
    width:100%;
    margin:0 auto !important;
}
section div.right .displays .product .choices:after{
    display:block;
    clear:both;
    content:"";
}
section div.right .displays .product .choices div{
    float:left;
}
#pages{
    width:100%;
}
#pages>div{
    margin-top:4%;
    text-align:center;
}
#pages div a{
    padding-right:1%;
    text-decoration:underline;
}
@media screen and (min-width:1024px) and (max-width:1439px){
    section{
        width:100%;
    }
    #my_nav{
        width:100%;
    }
    #right{
        top:0;
        right:10%;
    }
    section .left{
        width:20%;
    }
    section .right{
        width:70%;
    }
}
@media screen and (min-width:1440px){
    section{
        width:1440px;
    }
    section .top{
        width:100%;
        margin:2% auto;
    }
}